*{
	font-family: 'Roboto', sans-serif;
}

body{
	background: #D1FAE5;
}

.container{
	max-width: 720px;
}



/*Navbar*/
/*--------------------------*/

h1{
	font-size: 60px;
	font-family: 'Alegreya SC', serif;
}

.title{
	color: #fff;
	background: #E64A19;
}



/*Search bar*/
/*--------------------------*/

#search{
	background: #FBDBD0;
	text-align: center;
	padding: 20px;
}

.searchBar{
	width: 60%;
	margin: 0 auto;
}

#searchTerm{
	border-color: #12A158 ;
	border-radius: 0;
	border: 2px solid #12A158 ;
}

#searchTerm:focus{
	outline: none;
	border: 2px solid #56BE89 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(51, 169, 109, 0.6) !important;
}

#searchButton{
	color: #fff;
	background-color: #12A158;
	border-radius: 0;
}

#searchButton:focus{
	  outline: none;
}



/*Results*/
/*--------------------------*/
a{
	color: #087F43;
}

#random{
	text-align: center;
	background: #fff;
	padding: 12px 0;
}

#results{
	background: #fff;
}

.result{
	background: #fff;
	border-bottom: 2px solid #FFCCBC;
	padding-bottom: 20px;
	margin-top: 25px;
	font-size: 1.1em;	
}

.result:last-child{
	border-bottom: 0;
}

/*Footer*/
/*--------------------------*/

.footer{
	color: #fff;
	background: #FFB199;
	height: 25px;
}



/*Media queries*/

@media only screen and (max-width: 543px) {
	.searchBar{
		width: 70%;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 425px) {
	.searchBar{
		width: 90%;
		margin: 0 auto;
	}
}



